/* Customize your main colors in :root variables */
/*--card-background-color: #946cee; */
@font-face {
  font-family: "GowunBatang";
  src: url("./fonts/GowunBatang-Bold.ttf");
}

@font-face{
  font-family: "PoppinsLight";
  src: url("./fonts/Poppins-Light.ttf");
}

@font-face{
  font-family: "PoppinsSemiBold";
  src: url("./fonts/Poppins-SemiBold.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,900;1,800&display=swap');

:root {
  --main-background-color: #584486;
  --card-background-lighter-color: #7A7F92;
  --main-text-color:#F7F6F4;
  --title-text-color:#F7F6F4;
  --font-size-lg:2rem;
  --font-size-md:1.5rem;
  --font-size-sm:1rem;
}

body{
  background-color: black;
  background-size: 100% 100%;
  font-family:'PoppinsLight';
  font-size: var(--font-size-md);
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select:none; 
  user-select:none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar{
  display:none;
}

.bigWrap{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

h2, p{
  color: var(--main-text-color);

}

.btnBox{
  position: relative;
  margin: 10px;
}

.btnStyle{
  margin: 10px;
  width : 40px;
  height: 40px;
  font-size: var(--font-size-sm);
  transition: all 0.3s ease;
}
/*Heder */

.active p{
  color:rgb(120, 239, 199);
}

#header{
  position: fixed;
  left:10%;
  top:25px;
  width:80%;
  height:50px;
  border-radius: 30px;
  background-color: black;
  border: 2px solid mediumaquamarine;
  z-index:5;

}

.navbar_icons a {
  color: white;
}

.navbar {
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  
.navbarLogo{
  margin-left:calc(30px + 5vw);
  margin-top:0px;
}

.navbarMenu{
  display: flex;
  border:black;
  font-size: 21px;
}

.navbarMenu a{
  text-decoration: none;
  margin: 22px 1vw;
}


/*MainHome */
.imgContainer{
  position:relative;
  width:60%;
  margin:5px 10px;
  min-height: 40vw;
}

.mainContainer{
  width:80%;
  position:relative;
  top:100px;
  left:10%;
  height:80%;
  border:2px solid mediumaquamarine; 
  border-radius:30px;
  display: flex;
  flex-wrap: nowrap;
}

.textContainer{
  width:40%;
  margin-top:calc(5vw - 20px); 
  padding: 2vw;
}

.textContainer h1{
  background: linear-gradient(to right,white 0%,#B2FAFF 38% ,#AA43FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(4vw - 1px);
  line-height:1.5em;
  font-family: 'PoppinsSemiBold';
}

.textContainer p{
  margin-top:3vw;
  font-size: 1.5vw;
}

.MuiButton-label{
  font-size: 1.2vw;
}

@media(max-width: 1100px){

  .navbarLogo{
    margin-left:calc(20px + 4vw);
  }
  
  .navbarMenu{
    font-size: 2vw;
  }

  .navbarMenu a{
    margin: 12px;
    margin-top: 15px;
    margin-left: 0.8vw;
  }
}

@media(max-width: 800px){
  .SlideButtonPrev{left: calc(200px - 17.2vw);}
  .SlideButtonNext{left: calc(-200px + 17.2vw);}

  .navbarLogo{
    margin-top: 0;
    margin-left: 4vw;
  }

  #header{
    border: 1px solid mediumaquamarine;
  }
  .navbarMenu{
    font-size: calc(0.8px + 1.9vw);
    margin-right: 5px;
  }

  .navbarMenu a{
    margin: 0;
    margin-top: 0.6vw;
    margin-left: 1.3vw;
  }
  .mainContainer{
    border:1px solid mediumaquamarine; 
    flex-direction: column;
  }
} 

@media(max-width: 480px){

  .bigContainer{
    flex-direction: column;
  }

  .imgContainer{
    height: 50vw;
    padding-top: 6vw;
    left: 15vw;
  }

  .textContainer{
    margin-top: 1vw;
    width: 50vw;
    margin-left: 23vw;
  }

  .textContainer h1{
    background: linear-gradient(to right,white 0%,#B2FAFF 38% ,#AA43FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vw;
    line-height:1.5em;
    font-family: 'PoppinsSemiBold';
  }

  .textContainer p{
    font-size: 3vw;
  }
}

/* Mintpage */
.SoloveMintinfo{
  font-size: 32px;
}

.btn_info{
  padding-top: 10px;
  position: relative; 
}

.counterInfo1{
  display: flex;
  -webkit-box-pack: justify;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; 
}

.counterInfo1 .unit{
  margin-right: 180px;
}

.counterInfo2{
  width: 100%;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.counterInfo2 .num{
  margin-left: 220px;
}

.bar{
  height: 0.5px;
  width: 100%;
  background-color: white;
  margin-bottom: 15px;
}

.label{
  font-size: 20px; 
}

.unit{
    font-size: 26px;
    font-weight: bold;
    margin-left: 5px;
    line-height: 50px;
}
.num{
  position: relative;
  bottom: 15px;
  font-size: 60px;
}
.select{
  border-color: rgb(255, 255, 255);
    background: white;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    text-align: center;
    text-align-last: center;
    font-size: 16px;
    color: black;
    padding-right: 14px;
    padding-left: 14px;
    appearance: none;
}


/* Roadmap CSS ▽ */
.Roadmapwall {

  width: 100%;
  height: 100%;
  align-items: center;
  background-image: url(./img/roadmapwall.png);
  background-size : contain;
  background-color: black;
  position:'absolute';
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 14vw;
  right : 0%;
}

.wallpluscircle {
  display:block;
  width: 100vw;
  height: 190vh;
  border: 15px solid rgb(255, 255, 255);
  border-radius: 150vh;
  border-style: double, ridge;
  position: relative;
}


.slideText-wrap2{
  width: 100vw;
  height: 190vh;
  border-radius: 150vh;
  position: relative;
  overflow: hidden;
  right: 0.8vw;
}

.slideText-wrap {
  margin-top: 200px;
  width: 300vw;
  overflow: hidden;
}

.slideText-box {
  width: 600vw;
  animation-name: slideText;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.slideText2-box {
  width: 600vw;
  animation-name: slideText2;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.slideText-box ul {
  display: block;
  width: 300vw;
  overflow: hidden;
  float: left;
  margin: 0;
}

.slideText2-box ul {
  display: block;
  width: 300vw;
  overflow: hidden;
  float: left;
  margin: 0;
}

.slideText-box li {
  width: 150vw;
  background: linear-gradient(#F7F6F4 0%, #dcb7ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 6vw;
  display: inline-block;
  text-align: center;
  transform: skewX(-20deg);
}

.slideText2-box li {
  width: 150vw;
  background: linear-gradient(#F7F6F4 0%, #e1c1ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 6vw;
  display: inline-block;
  text-align: center;
  transform: skewX(-20deg);
}

@keyframes slideText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-150vw);
  }
}

@keyframes slideText2 {
  0% {
    transform: translateX(-150vw);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Roadmap CSS end */

/* FAQ CSS start*/

.FAQtext {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5vh;
}

.Appa {
  text-align: center;
}

.question-section {
  opacity: 0.9;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 60px;
  cursor: pointer;
  width: 50vw;
  padding: 5px 0 5px 0;
}

.question-align {
  align-items: center;
  display: flex;
  min-height: 40px;
  text-align: center;
}

.question-align h4 {
  font-size: 25px;
  margin-left: 15px;
  font-weight: lighter;
}

.question-style {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.question-icon {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  margin-left: auto;
  margin-right: 15px;

}

.rotate {
  transform: rotate(45deg);
}

.answer-divider {
  border-top: 1px solid rgba(0,0,0, 0.15);
}

.answer {
  margin-left: 15px;
  margin-right: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: center;

}

.Appa p{
  color: rgb(255, 255, 255);
  font-size: 15px;
}

/* mint page css */

.mintwall {
  display:flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-image: url(./img/mintwall.png);
  background-size : cover;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 0;
}
.mintcharactor{
  position:relative;
  width:50vw;
}

.mintcharactor{
  position:absolute;
  top: 3rem;
  width: 40vw;
  z-index: 1;
  opacity: 0.8;
}

.mintContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  top: 10rem;
}

.counterContainer{
  color: var(--main-text-color);
  position: relative;
}

.buttonContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.connectButtonHeader{
  color: white;
  border: 2px solid mediumaquamarine;
  border-radius: 20px;
  padding: 3px 10px;
  font-size: 21px;
}

@media(max-width: 1100px){.connectButtonHeader{font-size: 2vw;}}
@media(max-width: 800px){.connectButtonHeader{display: none;}}

.connectButtonMint{
  color: white;
  background-color: #7A7F92;
  border: 2px solid mediumaquamarine;
  border-radius: 20px;
  padding: 3px 10px;
  font-size: var(--font-size-md);
}
.connectButtonMint:hover{
  background-color: #9197ac;
}

.mintButton{
  border: 2px solid mediumaquamarine;
  border-radius: 20px;
  color: white;
  padding: 3px 10px;
}