/* Customize your main colors in :root variables */
/*--card-background-color: #946cee; */
@font-face {
  font-family: "GowunBatang";
  src: url("./fonts/GowunBatang-Bold.ttf");
}

@font-face{
  font-family: "PoppinsLight";
  src: url("./fonts/Poppins-Light.ttf");
}

@font-face{
  font-family: "PoppinsSemiBold";
  src: url("./fonts/Poppins-SemiBold.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,900;1,800&display=swap');

:root {
  --main-background-color: #584486;
  --card-background-lighter-color: #7A7F92;
  --main-text-color:#F7F6F4;
  --title-text-color:#F7F6F4;
  --font-size-lg:2rem;
  --font-size-md:1.5rem;
  --font-size-sm:1rem;
}

body{
  background-color: black;
  background-size: 100% 100%;
  font-family:'PoppinsLight';
  font-size: var(--font-size-md);
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select:none; 
  user-select:none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar{
  display:none;
}

.bigWrap{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

h2, p{
  color: var(--main-text-color);

}

.btnBox{
  position: relative;
  margin: 10px;
}

.btnStyle{
  margin: 10px;
  width : 40px;
  height: 40px;
  font-size: var(--font-size-sm);
  transition: all 0.3s ease;
}

/* Page Transition */
.transitionsWrapper {
  position: relative;
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

.transitionCSS-enter{
  animation: 0.4s ease load forwards;
}

.transitionCSS-exit{
  animation: 0.4s ease unload forwards;
}

@keyframes load{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px)
  }
}

@keyframes unload{
  0%{
    opacity: 1;
    transform: translateY(0px);
  }
  100%{
    opacity: 0;
    transform: translateY(30px)
  }
}

/*Heder */

.active p{
  color:rgb(120, 239, 199);
}

#header{
  position: fixed;
  left:10vw; 
  top:25px;
  width:80vw;
  height:50px;
  z-index:5;
  background-color: rgb(0, 0, 0, 0.7);
}

.navbar_icons a {
  color: white;
}

.navbar {
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  
.navbarLogo{
  margin-left:calc(30px + 5vw);
  margin-top:0px;
}

.navbarMenu{
  display: flex;
  border:black;
  font-size: 21px;
}

.navbarMenu a{
  text-decoration: none;
  margin: 22px 1vw;
}

.connectButtonHeader{
  display:flex;
  color: white;
  border: 2px solid mediumaquamarine;
  border-radius: 20px;
  padding: 3px 10px;
  font-size: 19px;
}

.toggle{
  display: none;
}

.navbarHamburger{
  display:none;
}

@media(max-width: 1023px){
  .connectButtonHeader{
    font-size: 1.6vw;
    
  }

  .navbarLogo{
    margin-left:calc(20px + 4vw);
  }
  
  .navbarMenu{
    font-size: 2vw;
  }

  .navbarMenu a{
    margin: 12px;
    margin-top: 15px;
    margin-left: 0.8vw;
  }
}

@media(max-width: 767px){
  .navbarLogo{
    margin-top: 0;
    margin-left: 4vw;
  }

  .navbarMenu{
    font-size: calc(0.8px + 1.9vw);
    margin-right: 5px;
  }

  .navbarMenu a{
    margin: 0;
    margin-top: 0.6vw;
    margin-left: 1.3vw;
  }
  /* .connectButtonHeader{
    display:none;
  } */
}

@media(max-width: 479px){
  .navbar{
    justify-content:space-between;
  }

  .navbarLogo{
    position: absolute;
    margin-left: calc(48vw - 105px);
  }

  .navbarMenu{
    display:none;
  }

  .navbarHamburger{
    display:block;
  }
  .toggle{
    display:flex;
    position: relative;
    width:100vw;
    right:10vw;
    opacity:0.8;
    flex-flow: column nowrap;
    align-items: center;
    background-color: black;
  }

  .navbarMenuMobile{
    font-size: 20px;
    margin-left: calc(30px - 60vw);
  }
}


/*MainHome */
.imgContainer{
  position:relative;
  width:60%;
  margin:5px 10px;
  min-height: 40vw;
  display: flex;
}

.mainContainer{
  width:80%;
  position:relative;
  top:100px;
  left:10%;
  height:80%;
  display: flex;
  flex-wrap: nowrap;
}

.textContainer{
  width:40%;
  margin-top: -1vw;
  padding: 2vw;
}

.textContainer h1{
  background: linear-gradient(to right,white 0%,#B2FAFF 38% ,#AA43FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(4vw - 1px);
  line-height:1.5em;
  font-family: 'PoppinsSemiBold';
}

.textContainer p{
  margin-top:3vw;
  font-size: 1.5vw;
}

#mainImg1{
  position:relative;
  padding-top:2vw;
  padding-left:2vw
}

#mainImg2{
  position:relative;
  padding-top:1vw;
}

#mainImg3{
  position:absolute;
  padding-top:20vw;
  padding-left: 20vw;

}

@media(max-width: 767px){
  .mainContainer{
    flex-direction: column;
  }

  .bigContainer{
    position:relative;
    flex-direction: column;
    align-items: center;
    width:90%;
    top: 10vw;
  }

  .imgContainer{
    display: flex;
    justify-content: center;
    min-height: none;
    margin-top: calc(-1.5vw + 20px);
    width:90%;
  }

  .textContainer{
    position: relative;
    width: 90%;
    text-align: center;
    top: calc(-7vw + 20px);
    
  }

  .textContainer img{
    position:relative;
    margin-left: 50%;
    right: calc(10px + 10vw);
    width: calc(20px + 20vw);
  }

  .textContainer h1{
    font-size: calc(10px + 3vw);
    line-height:1.5em;
  }

  .textContainer p{
    font-size: calc(10px + 1vw);
  }

  #mainImg1 img{
    width: calc(30vw + 30px);
    height: calc(30vw + 30px);
  }

  #mainImg2 img{
    width: calc(11vw + 11px);
    height:calc(11vw + 11px);
  }

  #mainImg3 img{
    width: calc(18vw + 10px);
    height: calc(18vw + 10px);
  }

  #mainImg3{
    position:absolute;
    padding-top:calc(20px + 16vw);
    padding-left: 20vw;
  
  }
} 

@media(max-width: 479px){
    .bigContainer{
      position:relative;
      flex-direction: column;
      align-items: center;
      width:90%;
      top: 10vw;
    }
  
    .imgContainer{
      height: 45vw;
      padding-top: calc(200px - 60vw);
      display: flex;
      justify-content: center;
      min-height: none;
      width:90%;
    }
  
    .textContainer{
      margin-top: 1vw;
      width: 50vw;
      position: relative;
      width: 90%;
      text-align: center;
      top: 80px;
  
    }
  
    .textContainer img{
      position:relative;
      width: 70%;
      margin-left: 33%;
    }
  
    .textContainer h1{
      background: linear-gradient(to right,white 0%,#B2FAFF 38% ,#AA43FF 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 5vw;
      font-size: 7vw;
      line-height:1.5em;
      font-family: 'PoppinsSemiBold';
    }
  
    .textContainer p{
      font-size: 3.5vw;
    }
  
    #mainImg1{
      padding-top: 7vw;
      padding-left: 0;
  
    }
    #mainImg1 img{
      width: 48vw;
      height: 48vw;
    }
  
    #mainImg2 img{
      width:20vw;
      height:20vw;
    }
  
    #mainImg3{
      padding-top:36vw;
      padding-left: 24vw;
    }
  
    #mainImg3 img{
      width: 28vw;
      height: 28vw;
    }
  }

  
/* story CSS */

.storytitleContainer{
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 300%;
    }
    30%{
        background-size: 100%;
    }
    60% {
        background-size: 100%;
    }
    80% {
        background-size: 300%;
    }
    100%{background-size: 300%;}
}

/* Roadmap CSS */


.roadmapcontainer{
  width: 100vw; 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

}

.main { 
  width: 1500px; 
  height: 60vh; 
  display: flex; 
  align-items: center;
  justify-content: center; 
}


.gradient-text1 {
  margin-top: 3vh;
  font-weight: bold;
  font-size: 50px;
  font-weight: 1000;
  text-align: center;
  top: 10vh;
  width: 100vw;
  position: absolute;
  color: black;
  -webkit-text-stroke: 0.3px #FFFFFF;
  animation-name: text-shadow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes text-shadow {
  0% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd,
  }

  20% {  
      transform: translateY(-3px);
      text-shadow: 
          0 0.125px 0 #0c2ffb, 
          0 0.25px 0 #2cfcfd, 
          0 -0.125px 0 #2cfcfd, 
          0 -0.25px 0 #0c2ffb;
  }

  40% {  
      transform: translateY(3px);
      text-shadow: 
          0 -0.0625em 0 #0c2ffb, 
          0 -0.125em 0 #2cfcfd, 
          0 0.0625em 0 #2cfcfd, 
          0 0.125em 0 #0c2ffb;
  }
  
 60% {
      transform: translateY(-0.25px);
      text-shadow: 
          0 0.03125em 0 #0c2ffb, 
          0 0.0625em 0 #2cfcfd, 
          0 -0.03125em 0 #2cfcfd, 
          0 -0.0625em 0 #0c2ffb;
  }

  80% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #2cfcfd, 
          0 0 0 #0c2ffb;
  }
}


.worldmap { 
  flex-grow: 1;
  width : 100%;
  height: 100%; 
  max-width: 60vw;
}

.worldmap > svg { width: 100%; background: none; position: relative; margin-top: calc(-120px + 20vh);}

.Roadmap1{
  fill : rgb(59, 179, 250);
}

.Roadmap1:hover{
  animation-name: roadmapani1;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.Roadmap2{
  fill : none;
  stroke: rgb(196, 222, 236);
}

.Roadmap2:hover{
  animation-name: roadmapani2;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.Roadmap3{
  fill: rgb(196, 222, 236);
}

.Roadmap3:hover{
  animation-name: roadmapani3;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes roadmapani1{
  0% {
    fill: #222;
  }
  100%{
    fill: rgb(59, 179, 250);
  }
}
@keyframes roadmapani2{
  0% {
    fill: #222;
  }
  100%{
    fill: rgb(93, 182, 255);
  }
}
@keyframes roadmapani3{
  0% {
    fill: #222;
  }
  100%{
    fill: rgb(196, 222, 236);
  }
}


#bubble1, #bubble2, #bubble3{
  width : 95vw;
  height: 20vh;
  display: flex;
  color :rgb(252, 252, 252);
  flex-direction: column;
  position: absolute;
  right: 0;
  left: -47.5vw;
  top: calc(-20px + 1vw);
  bottom: 0;
  margin: auto;
  display:none;
  background-color: #9197acd2;
  white-space: nowrap;
  border: 2px solid rgba(102, 205, 171);
   background-size: 400% 400%;
  border-radius: 10px;
}

@keyframes gradient {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

@media screen and (max-width:1023px) {


  .worldmap {
    margin-top : 20vh;
    flex-grow: 1;
    width : 100vw;
    max-width: 100vw;
    
  }
  .gradient-text1 {
    font-size: 30px;
    top: 13vh;
  }
}

@media screen and (max-width:767px) {

}

@media screen and (max-width:479px) {

}

/* FAQ CSS */

.FAQtext {
  font-size: calc(10px + 7vw);
  background-image: linear-gradient(
        30deg,
        rgb(255, 148, 148) 16.666%, 
        rgb(255, 220, 154) 16.666%, 
        rgb(252, 253, 166) 33.333%, 
        rgb(156, 255, 153) 33.333%, 
        rgb(194, 219, 252) 50%, 
        rgb(122, 147, 255) 50%, 
        rgb(180, 134, 255) 66.666%, 
        rgb(251, 135, 255) 66.666%, 
        rgb(255, 113, 255) 83.333%, 
        rgb(255, 239, 250) 83.333%);
  text-align: center;
  font-weight: bold;
  margin-bottom: 3vh;
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation-name: rainbow-text-simple-animation-rev;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-top: -10vh;
}

.question-section {
  opacity: 0.9;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  cursor: pointer;
  width: 50vw;
  padding: 5px 0 5px 0;
}

.question-align {
  align-items: center;
  display: flex;
  min-height: 6vh;
  margin-left: -10px;
}

.question-align h4 {
  font-size: calc(10px + 1vw);
  margin-left: 15px;
  font-weight: lighter;
}

.question-style {
  width: 100%;
  color: #ffffff;
}

.question-icon {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: calc(15px + 0.4vw);
  margin-left: 0.5vw;
}

.rotate {
  transform: rotate(45deg);
}

.answer-divider {
  border-top: 1px solid rgba(0,0,0, 0.15);
}

.answer {
  margin-left: calc(10px + 2vw);
  margin-right: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.Appa p{
  color: rgb(255, 255, 255);
  font-size: calc(10px + 1vw);
  font-weight: lighter;
  text-align: left;
}

.bar1{
  height: 0.5px;
  width: 90%;
  background-color: white;
  margin-bottom: 0.5vw;
}

@media screen and (max-width:1023px) {
  .FAQtext {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 5vh;
  }
}

@media screen and (max-width:767px) {
  .FAQtext {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 3vh;
  }

}

@media screen and (max-width:479px) {
  .FAQtext {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 1vh;
  }
  
}

/* mint page css */

.counterInfo1{
  display: flex;
  -webkit-box-pack: justify;
  align-items: center;
  justify-content: space-between;
  
}

.counterInfo1 .unit{
  margin-right: clamp(20px,13vw,500px);
}

.counterInfo2{
  width: 100%;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.counterInfo2 .num{
  margin-left: clamp(20px,13vw,500px);
}

.bar{
  height: 0.5px;
  width: 100%;
  background-color: white;
  margin-bottom: 15px;
}

.label{
  font-size: 20px; 
}

.unit{
  font-size: 26px;
  font-weight: bold;
  margin-left: 5px;
}

.num{
  position: relative;
  bottom: 15px;
  font-size: 60px;
}

.select{
  border-color: rgb(255, 255, 255);
  background: white;
  border-radius: 6px;
  width: clamp(0px,6vw,80px);
  height: 40px;
  text-align: center;
  text-align-last: center;
  font-size: 16px;
  color: black;
  appearance: none;
}

.mintwall {
  position: relative;
  display:flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-image: url(./img/mintwall.png);
  background-size : cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.mintcharactor{
  position:relative;
  width:50vw;
}

.mintcharactor{
  position:relative;
  top: 5vh;
  width: clamp(400px,45vw,900px);
  opacity: 0.9;
}

.mintContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.counterContainer{
  width: clamp(350px,40vw,700px);
  color: var(--main-text-color);
  position: relative;
  background-color: rgb(0,0,0,0.8);
  border-radius: 20px;
  padding: 15px 25px;

}

.buttonContainer{
  position: relative;
  top: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.connectButtonMint{
  color: white;
  background-color: #7A7F92;
  width: clamp(180px,15vw,500px);
  white-space: nowrap;
  border: 2px solid mediumaquamarine;
  border-radius: 20px;
  padding: 3px 10px;
  font-size: 15px;
}
.connectButtonMint:hover{
  background-color: #9197ac;
}

.mintButton{
  border: 2px solid mediumaquamarine;
  border-radius: 20px;
  color: white;
  padding: 3px 10px;
}

@media screen and (max-width:1023px) {
  .mintcharactor{
    top: 3rem;
    width: clamp(500px,65vw,767px);
  }

  .counterContainer{
    width: clamp(430px,55vw,767px);
    border-radius: 20px;
    line-height: 55px
  }
  
  .label{
    font-size: 16px; 
  }
  
  .select{
    font-size:14px;
    text-align: center;
    text-align-last: center;
  }
  .unit{
    font-size: 18px;
    font-weight: bold;
  }
  
  .num{
    bottom: 0;
    font-size: 44px;
  }
}

@media screen and (max-width:767px) {
  .mintcharactor{
    top: 3rem;
    width: clamp(350px,65vw,767px);
  }

  .counterContainer{
    width: clamp(300px,55vw,767px);
    border-radius: 20px;
    line-height: 55px
  }  

  .select{
    padding: 0;
  }
}

@media screen and (max-width:479px) {
  .mintcharactor{
    top: 1rem;
    width: clamp(280px,90vw,399px);
  }

  .counterContainer{
    width: clamp(250px,75vw,399px);
    line-height: 40px
  }

  .label{
    font-size: 16px; 
  }
  
  .select{
    height:50%;
    font-size:12px;
    text-align: center;
    text-align-last: center;
  }

  .select option{
    font-size: 12px;
  }
  
  .unit{
    font-size: 14px;
    font-weight: bold;
  }
  
  .num{
    bottom: 0;
    font-size: 36px;
  }

  .connectButtonMint{
    width: clamp(150px,15vw,500px);
    padding: 3px 10px;
    font-size: 10px;
  }
}